.allDrinks{
	margin-top: 100px !important;
	background-color: white !important;
	padding:20px;
}

.searchBox{
	display: inline !important;
	width: 50% !important;
	margin:20px !important;
	height: 40px !important;
}
.block{
	text-align: left !important;
}

label{
	display:block;
}
li{
	list-style-type:none;
}

span{
	color:red;
}