.searchBox{
	display: inline !important;
	width: 25% !important;
	margin-left:20px !important;
	margin-top: 20px !important;
}

label{
	display:block;
}
li{
	list-style-type:none;
}

span{
	color:red;
}