.page-footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:40px;
  width:100%;
  background:#FFFFFF ;
}

.rowMargin{
	margin-top: 10px;
}

a{
	color:darkorange;
}

a:hover{
	color:darkorange;
}