.page-footer{
  position:fixed;
  left:0px;
  bottom:0px;
  height:35px;
  width:100%;
  background:#FFFFFF ;
}

.rowMargin{
	margin-top: 7px;
}

a{
	color:black;
}
.aColor{
	color:orange;
}
a:hover{
	color:darkorange;
}