#root > div > nav {
	background: linear-gradient(to right, #f7ff00, #db36a4); 
	border-right-style:groove;
	border-bottom-style:groove; 
	padding-left: 30px;
}
.navbar-inverse .navbar-brand{
	color:black;
	font-size: 40px;
}
.navbar-inverse .navbar-nav>li>a{
	color:black;
	font-size: 20px;
}
