#root > div > nav {
	background: linear-gradient(to right, #4da0b0, #d39d38);
	border-right-style:groove;
	border-bottom-style:groove; 

}
.navbar-inverse .navbar-brand{
	color:black;
	font-size: 40px;

}
.navbar-inverse .navbar-nav>li>a{
	color:black;
	font-size: 20px;
}


#root > div > div > div > div{

	margin-top: 15px;
}
