.searchButton{
	background-color: #fd7302;
	display: inline-block;
	height: 35px;
	margin-left: 4px;
}
.searchButton2{
	margin-left: 250px;
	background-color: #fd7302;
	display: inline-block;
	height: 35px;
}
form{
	border-right: 2px grey solid;
	padding-right: 10px;
	display:inline-block;
}
ul{
	color:#636469;
}

span.glyphicon {
	color:black;
}

h5 {
	font-size: 15px;
	color: #636469;
}