.searchButton{
	background-color: orange;
	display: inline-block;
	height: 35px;
}
.searchButton2{
	margin-left: 250px;
	background-color: orange;
	display: inline-block;
	height: 35px;
}
form{
	border-color: grey;
	display:inline-block;
}

span.glyphicon {
	color:black;
}

h5 {
	border-bottom: 1px solid black;
	font-size: 20px;
}